<h1 id="welcome_title">Welcom to CSE Motors!</h1>
<div class="carDetails">
    <h2 id="car_name">DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <a href="#" title="own today">Own Today</a>
</div>
<img src="images/vehicles/delorean.jpg" srcset="images/vehicles/delorean-tn.jpg 1000w, images/vehicles/delorean.jpg 2000w" sizes="(max-width: 767px) 100vw, 50vw" alt="delorean" id="car_image">
<div class="vehicleReviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling Marty McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>
<div class="vehicleUpgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade" id="upgrade_1">
      <div class="img_container">
        <img src="images/upgrades/flux-cap.png" alt="flux-cap" id="flux_cap">
      </div>
      <a href="#" title="upgrade_1">Flux Capacitor</a>
    </div>
    <div class="upgrade" id="upgrade_2">
      <div class="img_container">
        <img src="images/upgrades/flame.jpg" alt="flame" id="flame">
      </div>
      <a href="#" title="upgrade_2">Flame Decals</a>
    </div>
    <div class="upgrade" id="upgrade_3">
      <div class="img_container">
        <img src="images/upgrades/bumper_sticker.jpg" alt="bumper_sticker" id="bumper_sticker">
      </div>
      <a href="#" title="upgrade_3">Bumper Sticker</a>
    </div>
    <div class="upgrade" id="upgrade_4">
      <div class="img_container">
        <img src="images/upgrades/hub-cap.jpg" alt="hub_cap" id="hub_cap">
      </div>
      <a href="#" title="upgrade_4">Hub Caps</a>
    </div>
  </div>
  
