<%# The Content Heading %>

<% if (title) { %> 
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<%#Line 3 - uses a EJS code block to contain a JavaScript if structure to determine if a "title" variable exists.
Line 4 - if the variable exists, it is displayed within an <h1> element.
Line 5 - ends the if structure and begins an else structure.
Line 6 - redirects the response object to the default index route, to deliver the home view.
Line 7 - ends the else structure. %>

<%# messages() %>
<%#An EJS code block, using a comment mark (#), disables this code. In the future, when messages have been implemented, you'll replace the comment with the unescaped mark (—), while will allow any messages that have been set to be displayed. %>

<%- grid %>
<%#Line 17 - uses an EJS code block to display the "grid" variable, which contains the HTML for the classification grid. %>

